@font-face {
    font-family: 'Gotham-Bold';
    src: local('Gotham-Bold'), url(../fonts/GothamSSm-Bold_Web.woff2) format('woff2');
  }
  @font-face {
    font-family: 'Gotham-Book';
    src: local('Gotham-Book'), url(../fonts/GothamSSm-Book_Web.woff2);
  }
  @font-face {
    font-family: 'Gotham-Light';
    src: local('Gotham-Light'), url(../fonts/GothamSSm-Light_Web.woff2);
  }
  @font-face {
    font-family: 'Gotham-Medium';
    src: local('Gotham-Medium'), url(../fonts/GothamSSm-Medium_Web.woff2);
  }

.navbar{
    position: fixed;
    width: 100vw;
    text-align: center;
    overflow: visible;
    z-index: 1;
    /* border: 2px solid blue; */
}
.navbarWhite{
    background-color: white;
    height: 50px;
    padding: 16px;    
}
.whiteNav{
    font-family: 'Gotham-Light';
    font-size: 14px;
    text-decoration: underline;
}
.navLogo{
    width: 120px;
    margin: 0 0 0 25px;
}
.navbarOver{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 15px;
    height: 50px;
}
.navServices{
    display: flex;
    padding: 0 15px 0 130px;
    list-style-type: none;
}
.serviceItem{
    padding: 5px 16px;
    font-family: 'Gotham-Medium';
    font-size: 14px;
}

.navText{
    font-family: 'Gotham-Medium';
    font-size: 14px;
}
.webNav{
    display: flex;
    list-style-type: none;
    padding: 0 38px 0 0;
    font-family: 'Gotham-Medium';
}
.webItem{
    padding: 5px 15px;
}

.test{
    background-color: blueviolet;
    height: 150px;
    width: 150px;    
}

.indicator{    
    z-index: -1;
    transition: opacity 1s;
    background-color: rgba(15, 15, 15, .1);
}

.footer{
    position: absolute;
    text-align: center;
    justify-content: center;
    z-index: 3;
    padding: 28px 12px;
    left: 0;
    bottom: 0;
    right: 0;
}
.footer span{
    font-family: "Gotham-Light";
    font-size: 12px;
    padding: 0 8px;
}